<div class="our-story">
    <div class="left-indent size-7">
        <div class="our-story__row">
            <div>
                <h2 class="our-story__title">Our Story</h2>
                <p>I've been around Blender community for more than a decade. Those who know me as 'martinsh' in Blender forums, will know my love for Blender Game Engine. Till this day I have published countless of free resources on BlenderArtists forums, my blog and my YouTube channel.</p>
            </div>
            <div>
                <img src="/assets/images/model.jpeg" alt="">
            </div>
        </div>
        <div class="gap"></div>
        <div class="our-story__row">
            <div>
                <img src="/assets/images/model.jpeg" alt="">
            </div>
            <div>
                <p>I am an active local CG, VR and Blender community member. I`m traveling to Blender conference every year where I even led a shader workshop once. I am guest lecturer at universities and now a teacher in art school - teaching my own experimental course in 'Lighting and Materials'.</p>
            </div>
        </div>
    </div>
</div>