.gallery {
	&__title {
		margin-bottom: 72px;
		@extend .h2;
		span {
			color: #ab235d;
		}
		@include respond-below(xs) {
			margin-bottom: 36px;
		}
	}
	
	&__grid {
		display: grid;
		padding: 0 2px;
		grid-template-columns: repeat(4, 1fr);
		//grid-template-rows: repeat(5, 350px);
		grid-auto-rows: 350px;
		grid-gap: 2px;
		transition: grid-auto-rows 1s linear;
		@include respond-above(xlg) {
			max-width: 1700px;
			margin: 0 auto;
		}
		@include respond-below(xs) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&__artwork {
		position: relative;
		//background-size: cover;
		//background-position: center;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)) 0 102% no-repeat;
		transition: opacity .2s linear;

		&--wide {
			grid-column: span 2;
		}

		> a {
			> img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: bottom;
			}
		}

		> figcaption {
			opacity: 0;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 90px;
			//background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)) 0 102% no-repeat;
			//transition: opacity .2s linear;
		}

		&:hover, &:focus {
			> figcaption {
				opacity: 1;
				@include respond-below(xs) {
					display: none; // on mobile there is no hover
				}
			}
		}
	}
		&__author {
			position: absolute;
			bottom: 36px;
			left: 16px;

			text-decoration: none;
			color: $color-text;
			font-size: 12px;
			font-weight: 500;
		}
		&__jobtitle {
			position: absolute;
			bottom: 16px;
			left: 16px;

			color: #ABABAB;
			font-size: 12px;
			font-weight: 500;
		}
}
