// In order to maintain page structure (outline) and not break CSS
// header styles are applied to classes instead of HTML header elements

$color-text: #F5F5F5;
body {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: $color-text;
}

.psa {

  .h2 {
    margin-bottom: 46px;
    color: #F5F5F5;
    font-size: 40px;
    line-height: 1.3;
    font-weight: 400;
  }
  .underline {
    padding-bottom: 32px;
    border-bottom: 2px solid rgba(#FFF, .5);
  }
}
