$nav-font-size: 16px;
$nav-font-color: #F5F5F5;

.nav-secondary {
  //background-color: rgba(red, .1);
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  padding-top: 20px;
  //left: 0;
  //right: 0;
  z-index: 10;

  &__link {
    display: inline-block;
    padding: 16px 0;
    font-size: $nav-font-size;
    color: $nav-font-color;
    text-decoration: none;
    &+.nav-secondary__link {
      margin-left: 60px;
    }
  }

  &__cta {
    position: absolute;
    right: 20px;
    top: 6px;
  }

  &__collapse {
    //width: 690px;
    //margin: 0 auto;
    @extend .container-s;
    //@include respond-above(xs) {
    //
    //}
    @include respond-below(xs) {
      display: none;
    }
  }

  &__logo {
    position: absolute;
    top: 20px;
    left: 20px;
    margin-top: -78px;
    opacity: 0;
    transition: margin-top .1s ease-in-out, opacity .1s linear;
    //@include respond-above(xs) {
    //  display: none;
    //}
    &--show {
      opacity: 1;
      margin-top: 0;
    }
  }
  &__toggle {
    @include respond-above(xs) {
      display: none;
    }
  }
}
