<nav class="nav-secondary">
    <a class="nav-secondary__logo" href="/" aria-label="Physical Starlight and Atmosphere">
        <svg width="48" height="48" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M58 0H0V58H58V0Z" fill="black" fill-opacity="0.15"/>
            <path d="M28.5972 29C39.3111 29 49.3806 31.0944 58 34.7194V0H0V34.3972C8.45833 31.0139 18.2056 29 28.5972 29ZM44.7083 12.8889C47.6083 12.8889 49.9444 15.225 49.9444 18.125C49.9444 21.025 47.6083 23.3611 44.7083 23.3611C41.8083 23.3611 39.4722 21.025 39.4722 18.125C39.4722 15.225 41.8083 12.8889 44.7083 12.8889Z" fill="white"/>
        </svg>
    </a>
    <button class="nav-secondary__toggle" type="button" data-toggle="collapse" data-target="" aria-controls="" aria-expanded="true" aria-label="Toggle mobile navigation">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
    </button>
    <div class="nav-secondary__collapse">
        <a href="#" class="nav-secondary__link">Gallery</a>
        <a href="#" class="nav-secondary__link">Pricing</a>
        <a href="#" class="nav-secondary__link">Tech Specs</a>
    </div>
    <a href="#" class="nav-secondary__cta btn btn--cta" type="button">Buy Now</a>
</nav>