$nav-font-size: 16px;
$nav-font-color: #F5F5F5;

.nav-primary {
	position: relative;
	//display: flex;
	padding: 20px 0;
	min-height: 48px;
	margin-bottom: 140px;
	&__logo {
		position: absolute;
		top: 20px;
		left: 20px;
		svg {

		}
	}
	&__link {
		display: inline-block;
		margin-right: 36px;
		padding: 16px 0;
		font-size: $nav-font-size;
		color: $nav-font-color;
		text-decoration: none;
	}
	.nav-primary__secondary .nav-primary__link {
		margin-right: 20px;
	}

	// layout & positioning
	&__main {
		@extend .container-s;
		@include respond-below(md) {
			// reset
			max-width: none;
			margin: 0;
		}
	}
	&__secondary {
		position: absolute;
		right: 20px;
		top: 20px;
		@include respond-below(md) {
			position: static;
		}
	}


	// mobile
	&__toggle {
		display: none;

	}
	&__collapse {
		@include respond-below(md) {
			display: flex;
			justify-content: flex-end;
		}
	}
}