<nav class="nav-primary">
    <a class="nav-primary__logo" href="/" aria-label="Physical Addons">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0V48H11.3333V36V27.3333V20.6667V12H20H28H36.6667V20.6667V27.3333V30V36H20V48H28V38H36.6667V48H48V0H0Z" fill="white"/>
        </svg>
    </a>
    <button class="nav-primary__toggle" type="button" data-toggle="collapse" data-target="" aria-controls="" aria-expanded="true" aria-label="Toggle mobile navigation">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
    </button>
    <div class="nav-primary__collapse">
        <div class="nav-primary__main">
            <a href="#" class="nav-primary__link">Documentation</a>
            <a href="#" class="nav-primary__link">Blender market</a>
        </div>
        <div class="nav-primary__secondary">
            <a href="#" class="nav-primary__link">Contacts</a>
        </div>
    </div>
</nav>