/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #F5F5F5; }

.psa .h2 {
  margin-bottom: 46px;
  color: #F5F5F5;
  font-size: 40px;
  line-height: 1.3;
  font-weight: 400; }

.psa .underline {
  padding-bottom: 32px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5); }

.psa .container-s, .psa .nav-primary__main, .psa .container-m, .psa .container-l, .psa .container-xl {
  margin-right: auto;
  margin-left: auto; }

.psa {
  background-color: black; }
  .psa .wrapper {
    max-width: 2000px;
    margin: 0 auto; }
  .psa .container-s, .psa .nav-primary__main {
    max-width: 50%; }
  .psa .container-m {
    max-width: 75%; }
  .psa .container-l {
    max-width: 1200px; }
  .psa .container-xl {
    max-width: 100%; }

.gap {
  width: 100%;
  height: 148px; }

.psa .landing {
  position: relative;
  height: calc(100vh - 48px);
  min-height: 770px;
  background-size: cover;
  background-position: center; }
  .psa .landing__title {
    margin-top: 34px;
    margin-bottom: 184px;
    font-size: 40px;
    line-height: 52px;
    color: white; }
    .psa .landing__title em {
      color: rgba(255, 255, 255, 0.5); }
  .psa .landing .container-xl, .psa .landing .container-s, .psa .landing .nav-primary__main {
    position: relative;
    z-index: 1; }
  .psa .landing:after {
    content: "";
    position: absolute;
    height: 160px;
    bottom: -48px;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%); }

.psa .workflow__links {
  margin-top: 78px; }

.psa .nav-primary {
  position: relative;
  padding: 20px 0;
  min-height: 48px;
  margin-bottom: 140px; }
  .psa .nav-primary__logo {
    position: absolute;
    top: 20px;
    left: 20px; }
  .psa .nav-primary__link {
    display: inline-block;
    margin-right: 36px;
    padding: 16px 0;
    font-size: 16px;
    color: #F5F5F5;
    text-decoration: none; }
  .psa .nav-primary .nav-primary__secondary .nav-primary__link {
    margin-right: 20px; }
  @media (max-width: 929px) {
    .psa .nav-primary__main {
      max-width: none;
      margin: 0; } }
  .psa .nav-primary__secondary {
    position: absolute;
    right: 20px;
    top: 20px; }
    @media (max-width: 929px) {
      .psa .nav-primary__secondary {
        position: static; } }
  .psa .nav-primary__toggle {
    display: none; }
  @media (max-width: 929px) {
    .psa .nav-primary__collapse {
      display: flex;
      justify-content: flex-end; } }

.psa .tablinks {
  position: relative;
  padding-bottom: 14px;
  z-index: 1; }
  .psa .tablinks__list {
    display: flex; }
  .psa .tablinks__item {
    flex: 1; }
  .psa .tablinks__link {
    display: block;
    color: white;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none; }
    .psa .tablinks__link:before {
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS42NjcgMTZBLjY2Ni42NjYgMCAwMTAgMTUuMzMzVi42NjdBLjY2Ny42NjcgMCAwMS45ODguMDgzTDE0LjMyIDcuNDE2YS42NjYuNjY2IDAgMDEwIDEuMTY4TC45ODggMTUuOTE4QS42NjcuNjY3IDAgMDEuNjY3IDE2em0uNjY2LTE0LjIwNnYxMi40MTJMMTIuNjE3IDggMS4zMzIgMS43OTR6IiBmaWxsPSIjZmZmIiBmaWxsLW9wYWNpdHk9Ii41Ii8+PC9zdmc+");
      margin-right: 8px; }
    .psa .tablinks__link--active:before {
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS42NjcgMTZBLjY2Ni42NjYgMCAwMTAgMTUuMzMzVi42NjdBLjY2Ny42NjcgMCAwMS45ODguMDgzTDE0LjMyIDcuNDE2YS42NjYuNjY2IDAgMDEwIDEuMTY4TC45ODggMTUuOTE4QS42NjcuNjY3IDAgMDEuNjY3IDE2eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg=="); }
  .psa .tablinks:before, .psa .tablinks__line {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px; }
  .psa .tablinks:before {
    right: 0;
    background-color: rgba(255, 255, 255, 0.2); }
  .psa .tablinks__line {
    background-color: white;
    width: 33%;
    transition: transform .3s ease-in-out; }

.psa .presets {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -48px;
  left: 0;
  overflow: hidden; }
  .psa .presets__image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    max-height: none;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%); }

.psa .animatable {
  transition: opacity 1s ease-in-out;
  opacity: 0; }
  .psa .animatable--active {
    opacity: 1; }

.psa .nav-secondary {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; }
  .psa .nav-secondary__link {
    display: inline-block;
    padding: 16px 0;
    font-size: 16px;
    color: #F5F5F5;
    text-decoration: none; }
    .psa .nav-secondary__link + .nav-secondary__link {
      margin-left: 60px; }
  .psa .nav-secondary__cta {
    position: absolute;
    right: 20px;
    bottom: 10px; }
  .psa .nav-secondary__collapse {
    width: 690px;
    margin: 0 auto; }
  @media (min-width: 576px) {
    .psa .nav-secondary__logo {
      display: none; } }
  @media (min-width: 576px) {
    .psa .nav-secondary__toggle {
      display: none; } }

.psa .videoplayer {
  text-align: center;
  position: relative; }
  .psa .videoplayer video {
    box-sizing: border-box;
    max-width: 100%;
    border-radius: 20px;
    border: 14px solid #141414;
    cursor: pointer; }
    .psa .videoplayer video:focus {
      outline: none; }

.psa .btn {
  display: inline-block;
  padding: 4px 12px;
  font-weight: 400;
  line-height: 19px;
  color: #F5F5F5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 2px solid #F5F5F5;
  font-size: 16px;
  border-radius: 25px; }

.psa .steps {
  position: relative;
  margin-top: 36px;
  max-width: 410px;
  min-height: 60px; }
  .psa .steps__description {
    position: absolute;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px; }
    .psa .steps__description.animatable {
      transition: none; }
      .psa .steps__description.animatable--active {
        transition: opacity 1s ease-in-out; }

.psa body {
  background-color: black; }

.psa .timeline {
  width: 100%;
  display: flex;
  align-items: flex-end;
  height: 40px; }
  .psa .timeline__section {
    width: calc(20% - 4px);
    height: 4px;
    margin-left: 5px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    transition: height .1s ease-in-out;
    cursor: pointer; }
    .psa .timeline__section:before, .psa .timeline__section:after {
      padding-bottom: 13px;
      bottom: 0;
      display: block;
      position: absolute; }
    .psa .timeline__section:before {
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS42NjcgMTZBLjY2Ni42NjYgMCAwMTAgMTUuMzMzVi42NjdBLjY2Ny42NjcgMCAwMS45ODguMDgzTDE0LjMyIDcuNDE2YS42NjYuNjY2IDAgMDEwIDEuMTY4TC45ODggMTUuOTE4QS42NjcuNjY3IDAgMDEuNjY3IDE2em0uNjY2LTE0LjIwNnYxMi40MTJMMTIuNjE3IDggMS4zMzIgMS43OTR6IiBmaWxsPSIjZmZmIiBmaWxsLW9wYWNpdHk9Ii41Ii8+PC9zdmc+");
      left: 0;
      right: 0;
      padding-bottom: 15px;
      opacity: 0;
      transition: opacity .1s ease-in-out; }
    .psa .timeline__section:after {
      content: attr(title);
      left: 22px;
      right: 0;
      font-size: 20px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0);
      transition: color .1s ease-in-out; }
    .psa .timeline__section:hover {
      height: 8px; }
      .psa .timeline__section:hover:before {
        content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS42NjcgMTZBLjY2Ni42NjYgMCAwMTAgMTUuMzMzVi42NjdBLjY2Ny42NjcgMCAwMS45ODguMDgzTDE0LjMyIDcuNDE2YS42NjYuNjY2IDAgMDEwIDEuMTY4TC45ODggMTUuOTE4QS42NjcuNjY3IDAgMDEuNjY3IDE2em0uNjY2LTE0LjIwNnYxMi40MTJMMTIuNjE3IDggMS4zMzIgMS43OTR6IiBmaWxsPSIjZmZmIiBmaWxsLW9wYWNpdHk9Ii41Ii8+PC9zdmc+");
        opacity: 1; }
      .psa .timeline__section:hover:after {
        color: rgba(255, 255, 255, 0.2); }
    .psa .timeline__section--active:before {
      opacity: 1;
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS42NjcgMTZBLjY2Ni42NjYgMCAwMTAgMTUuMzMzVi42NjdBLjY2Ny42NjcgMCAwMS45ODguMDgzTDE0LjMyIDcuNDE2YS42NjYuNjY2IDAgMDEwIDEuMTY4TC45ODggMTUuOTE4QS42NjcuNjY3IDAgMDEuNjY3IDE2eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg=="); }
    .psa .timeline__section--active:hover:before {
      opacity: 1;
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS42NjcgMTZBLjY2Ni42NjYgMCAwMTAgMTUuMzMzVi42NjdBLjY2Ny42NjcgMCAwMS45ODguMDgzTDE0LjMyIDcuNDE2YS42NjYuNjY2IDAgMDEwIDEuMTY4TC45ODggMTUuOTE4QS42NjcuNjY3IDAgMDEuNjY3IDE2eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg=="); }
    .psa .timeline__section--active:after {
      color: white !important; }
    .psa .timeline__section--empty:before {
      display: none; }
  .psa .timeline__progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    transform-origin: 0;
    transform: scaleX(0);
    transition: transform .1s linear;
    will-change: transform; }

.psa .no-transition .timeline__progress {
  transition: none; }
