body {
	background-color: black;
}
.timeline {
	width: 100%;
	display: flex;
	align-items: flex-end;
	height: 40px;

	&__section {
		/*float: left;*/
		width: calc(20% - 4px);
		height: 4px;
		margin-left: 5px;
		position: relative;
		background-color: rgba(255,255,255, .2);
		transition: height .1s ease-in-out;
		cursor: pointer;
		&:before {
			content: "";
			display: block;
			position: absolute;
			bottom: 100%;
			left: 0;
			right: 0;
			height: 4px;
		}
		&:after { // Title
			content: attr(title);
			display: block;
			position: absolute;
			bottom: 13px;
			left: 0;
			right: 0;

			//font-family: Helvetica Neue;
			font-size: 20px;
			line-height: 24px;
			color: rgba(255,255,255, 0);
			transition: color .1s ease-in-out;
		}

		&:hover {
			height: 8px;
			&:after {
				color: rgba(255,255,255, .2);
			}
		}

		&--active {
			&:after {
				color: rgba(255,255,255, 1) !important;
			}
		}
	}

	&__progress {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		background-color: white;
		transform-origin: 0;
		transform: scaleX(0);
		transition: transform .1s linear;
		will-change: transform;
	}

}

.no-transition .timeline__progress {
	transition: none;
}