<div class="timeline" aria-role="slider" aria-label="Preset Slider">
    <a href="#preset-model" class="timeline__section" data-duration="1" title="">
        <div class="timeline__progress"></div>
    </a>
    <a href="#preset-retrowave" class="timeline__section" data-duration="4" title="Retro">
        <div class="timeline__progress"></div>
    </a>
    <a href="#preset-nishita" class="timeline__section" data-duration="4" title="Nishita">
        <div class="timeline__progress"></div>
    </a>
    <a href="#preset-earth" class="timeline__section" data-duration="4" title="Earth">
        <div class="timeline__progress"></div>
    </a>
    <a href="#preset-mars" class="timeline__section" data-duration="4" title="Mars">
        <div class="timeline__progress"></div>
    </a>
</div>