<div class="timeline" aria-role="slider" aria-label="Preset Slider">
    <div class="timeline__section" data-duration="1" title="">
        <div class="timeline__progress"></div>
    </div>
    <div class="timeline__section" data-duration="4" title="Retro">
        <div class="timeline__progress"></div>
    </div>
    <div class="timeline__section" data-duration="4" title="Nishita">
        <div class="timeline__progress"></div>
    </div>
    <div class="timeline__section" data-duration="4" title="Earth">
        <div class="timeline__progress"></div>
    </div>
    <div class="timeline__section" data-duration="4" title="Mars">
        <div class="timeline__progress"></div>
    </div>
</div>