<div class="timeline">
    <a href="#preset-model" class="timeline__section timeline__section--empty" data-duration="1" title="Model">
        <div class="timeline__progress"></div>
    </a>
    <a href="#preset-earth" class="timeline__section" data-duration="4" title="Earth">
        <div class="timeline__progress"></div>
    </a>
    <a href="#preset-earth1" class="timeline__section" data-duration="4" title="Earth #2">
        <div class="timeline__progress"></div>
    </a>

    <a href="#preset-night" class="timeline__section" data-duration="4" title="Night">
        <div class="timeline__progress"></div>
    </a>
    <a href="#preset-night1" class="timeline__section" data-duration="4" title="Night #2">
        <div class="timeline__progress"></div>
    </a>
    <a href="#preset-night2" class="timeline__section" data-duration="4" title="Night #3">
        <div class="timeline__progress"></div>
    </a>

    <a href="#preset-nishita" class="timeline__section" data-duration="4" title="Nishita">
        <div class="timeline__progress"></div>
    </a>
    <a href="#preset-nishita1" class="timeline__section" data-duration="4" title="Nishita #2">
        <div class="timeline__progress"></div>
    </a>
    <a href="#preset-retrowave" class="timeline__section" data-duration="4" title="Retro">
        <div class="timeline__progress"></div>
    </a>
</div>
