/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #F5F5F5; }

.psa .h2 {
  margin-bottom: 46px;
  color: #F5F5F5;
  font-size: 40px;
  line-height: 1.3;
  font-weight: 400; }

.psa .underline {
  padding-bottom: 32px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5); }

.psa .container-s, .psa .nav-primary__main, .psa .container-m, .psa .container-l, .psa .container-xl {
  margin-right: auto;
  margin-left: auto; }

.psa {
  background-color: black; }
  .psa .wrapper {
    max-width: 1366px;
    margin: 0 auto; }
  .psa .container-s, .psa .nav-primary__main {
    max-width: 690px; }
  .psa .container-m {
    max-width: 900px; }
  .psa .container-l {
    max-width: 1200px; }
  .psa .container-xl {
    max-width: 1440px; }

.gap {
  width: 100%;
  height: 148px; }

.psa .landing {
  position: relative;
  height: 100vh;
  min-height: 770px;
  background-size: cover;
  background-position: center; }
  .psa .landing__title {
    margin-top: 34px;
    margin-bottom: 184px;
    font-size: 40px;
    line-height: 52px;
    color: white; }
    .psa .landing__title em {
      color: rgba(255, 255, 255, 0.5); }
  .psa .landing .container-xl, .psa .landing .container-s, .psa .landing .nav-primary__main, .psa .landing .nav-secondary {
    position: relative;
    z-index: 1; }
  .psa .landing:after {
    content: "";
    position: absolute;
    height: 160px;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%); }

.psa .workflow__links {
  margin-top: 78px; }

.psa .nav-primary {
  position: relative;
  padding: 20px;
  min-height: 48px;
  margin-bottom: 140px; }
  .psa .nav-primary__logo {
    position: absolute;
    top: 20px;
    left: 20px; }
  .psa .nav-primary__link {
    display: inline-block;
    padding: 16px 0;
    font-size: 16px;
    color: #F5F5F5;
    text-decoration: none; }
    .psa .nav-primary__link + .nav-primary__link {
      margin-left: 60px; }
  .psa .nav-primary__secondary {
    position: absolute;
    right: 20px;
    top: 20px; }
  .psa .nav-primary__toggle {
    display: none; }

.psa .tablinks {
  display: inline-block;
  position: relative;
  padding-bottom: 14px;
  z-index: 1; }
  .psa .tablinks__item {
    display: inline-block; }
    .psa .tablinks__item + .tablinks__item {
      margin-left: 80px; }
  .psa .tablinks__link {
    display: block;
    color: white;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none; }
    .psa .tablinks__link:before {
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS42NjcgMTZBLjY2Ni42NjYgMCAwMTAgMTUuMzMzVi42NjdBLjY2Ny42NjcgMCAwMS45ODguMDgzTDE0LjMyIDcuNDE2YS42NjYuNjY2IDAgMDEwIDEuMTY4TC45ODggMTUuOTE4QS42NjcuNjY3IDAgMDEuNjY3IDE2em0uNjY2LTE0LjIwNnYxMi40MTJMMTIuNjE3IDggMS4zMzIgMS43OTR6IiBmaWxsPSIjZmZmIiBmaWxsLW9wYWNpdHk9Ii41Ii8+PC9zdmc+");
      margin-right: 12px; }
    .psa .tablinks__link--active:before {
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS42NjcgMTZBLjY2Ni42NjYgMCAwMTAgMTUuMzMzVi42NjdBLjY2Ny42NjcgMCAwMS45ODguMDgzTDE0LjMyIDcuNDE2YS42NjYuNjY2IDAgMDEwIDEuMTY4TC45ODggMTUuOTE4QS42NjcuNjY3IDAgMDEuNjY3IDE2eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg=="); }
  .psa .tablinks:before, .psa .tablinks__line {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px; }
  .psa .tablinks:before {
    right: 0;
    background-color: rgba(255, 255, 255, 0.2); }
  .psa .tablinks__line {
    background-color: white;
    width: 25%;
    transition: width .3s ease-in-out, left .3s ease-in-out; }

.psa .presets {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden; }
  .psa .presets__image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    max-height: none;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s ease-in-out; }
    .psa .presets__image--active {
      opacity: 1; }

.psa .nav-secondary {
  position: absolute !important;
  bottom: 0;
  left: 0;
  right: 0; }
  .psa .nav-secondary__link {
    display: inline-block;
    padding: 16px 0;
    font-size: 16px;
    color: #F5F5F5;
    text-decoration: none; }
    .psa .nav-secondary__link + .nav-secondary__link {
      margin-left: 60px; }
  .psa .nav-secondary__cta {
    position: absolute;
    right: 20px;
    bottom: 10px; }
  .psa .nav-secondary__collapse {
    width: 690px;
    margin: 0 auto; }
  @media (min-width: 576px) {
    .psa .nav-secondary__logo {
      display: none; } }
  @media (min-width: 576px) {
    .psa .nav-secondary__toggle {
      display: none; } }

.psa .videoplayer {
  max-width: 100%; }

.psa .btn {
  display: inline-block;
  padding: 4px 12px;
  font-weight: 400;
  line-height: 19px;
  color: #F5F5F5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 2px solid #F5F5F5;
  font-size: 16px;
  border-radius: 25px; }

.psa .steps {
  margin-top: 60px;
  max-width: 410px; }
  .psa .steps__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px; }
