<nav class="nav-secondary" aria-label="Main">
    <a class="nav-secondary__logo" href="https://www.physicaladdons.com/psa/" aria-label="Physical Starlight and Atmosphere">
        <svg viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg"  fill="none"><path fill="#fff" d="m266.669 400.001 133.333-66.666V216.668l-133.333 66.667v116.666ZM133.333 0 0 66.667V400l133.333-66.667v-66.666h133.334L400 200V0H133.333Zm0 100h133.334v66.667H133.333V100Z"/></svg>
    </a>
    <button
            class="nav-secondary__toggle"
            aria-controls="secondary-nav-links"
            aria-expanded="false"
            aria-label="Toggle primary navigation">
        <svg class="ham" viewBox="0 0 100 100" width="58">
            <path class="ham__line ham__line--top" d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20"></path>
            <path class="ham__line ham__line--middle" d="m 70,50 h -40"></path>
            <path class="ham__line ham__line--bottom" d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20"></path>
        </svg>
    </button>
    <div class="nav-secondary__collapse" id="secondary-nav-links">
        <a href="#gallery" class="nav-secondary__link">Gallery</a>
        <a href="#pricing" class="nav-secondary__link">Pricing</a>
    </div>
    <a href="https://superhivemarket.com/products/physical-starlight-and-atmosphere" class="nav-secondary__cta btn btn--cta">Buy</a>
</nav>