<div class="tablinks {{ class }}" id="workflowlinks">
	<ul class="tablinks__list">
		<li class="tablinks__item">
			<a href="#enable" data-skip-to="0" data-video="#how-it-works" class="tablinks__link tablinks__link--active">Enable</a>
		</li>
		<li class="tablinks__item">
			<a href="#select-presets" data-skip-to="10" data-video="#how-it-works" class="tablinks__link">Presets</a>
		</li>
		<li class="tablinks__item">
			<a href="#customize-params" data-skip-to="120" data-video="#how-it-works" class="tablinks__link">Customize</a>
		</li>
	</ul>
	<div class="tablinks__line"></div>
</div>